.word-transition {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.fade-in {
    animation: fadeInTop 0.5s forwards;
}

.fade-out {
    animation: fadeOutBottom 0.5s forwards;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}


